# Entornos virtuales
venv/
.venv/
env/
/env

# Git y GitHub
.git/
.gitignore
.github/

# Archivos de caché y compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.pytest_cache/

# Variables de entorno y secretos locales
.env
.env.*
*.pem

# Archivos de IDEs y OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
Dockerfile
.dockerignore